DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=must_emr
DB_USER=must_emr
DB_PASSWORD=must_emr
DB_HOST=localhost
DB_PORT=5432
CRYPTOGRAPHY_KEY=change-me-32-byte-fernet-key
SESSION_COOKIE_AGE=900
SECURE_SSL_REDIRECT=False
